/* Write your CSS here */

.todo-title {
  color: #000000;
  font-family: 'Roboto';
  font-size: 18px;
  padding-right: 40px;
}

.del-btn {
  border: 2px solid #ff0b37;
  border-radius: 7px;
  outline: none;
  color: #ff0b37;
  font-family: 'Roboto';
  font-size: 14px;
  width: 80px;
  height: 30px;
  background-color: transparent;
}

.todo-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
